footer {
    bottom: 0;
    left: 0;
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer ul {
    display: flex;
    align-items: center;
    gap: 3rem;
}

footer ul li a {
    color: #000;
    font-weight: 600;
}

.footer-socials {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.footer-socials i {
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.footer-socials i:hover {
    transform: scale(1.1);
}

.copyright {
    font-size: 300;
    margin-top: 1rem;
}

@media(max-width:600px) {
    .footer-socials i {
        font-size: 2rem;
    }

    footer ul {
        gap: 1rem;
    }
}